body {
  background-color: #FFFFCC;
}

.createSessionInput {
  width: 250px;
}

#title {
  color: orange;
  display: inline-block;
}

#titleLink:link {
  color: orange;
  text-decoration: none;
}

#titleLink:visited {
  color: orange;
  text-decoration: none;
}

#titleLink:hover {
  color: orange;
  text-decoration: none;
}

#titleLink:active {
  color: orange;
  text-decoration: none;
}

#subtitle {
  display: inline-block;
}

#mySessionsDiv {
  margin: 1em;
}

#loginButton {
  display: inline-block;
  float: right;
}

#myReservationsDiv {
  display: inline-block;
  width: 30%;
  margin: 1em;
  vertical-align: top;
}

#allSessionsDiv {
  display: inline-block;
  width: 40%;
  margin: 1em;
  vertical-align: top;
}
