body {
  background-color: #FFFFCC;
}

.createSessionInput {
  width: 250px;
}

.itemMarker {
  font-size: 100%;
  color: gray;
}

.buttonForm {
  display: inline-block;
}

.homePageSessionNameButton {
  background: none!important;
  border: none;
  padding: 0!important;
  font: inherit;
  font-size: 110%;
  font-family: "Lucida Sans Unicode";
}

.homePageSessionNameButton:hover {
  color: orange;
  margin: 0;
  padding: 0;
}

.homePageUserNameButton {
  background: none!important;
  border: none;
  padding: 0!important;
  font: inherit;
}

.homePageUserNameButton:hover {
  color: cornflowerblue;
  margin: 0;
  padding: 0;
}

.homePageSessionDateTime {
  font-size: 100%;
  font-family: "Courier New";
}

.homePageSessionTags {
  font-size: 100%;
}

.sessionDateTime {
  font-size: 100%;
  font-family: "Courier New";
}

.notification {
  color: cornflowerblue;
  font-size: 120%;
}

#title {
  color: orange;
  display: inline-block;
}

#titleLink:link {
  color: orange;
  text-decoration: none;
}

#titleLink:visited {
  color: orange;
  text-decoration: none;
}

#titleLink:hover {
  color: orange;
  text-decoration: none;
}

#titleLink:active {
  color: orange;
  text-decoration: none;
}

#subtitle {
  display: inline-block;
}

#mySessionsDiv {
  margin: 1em;
}

#loginButton {
  display: inline-block;
  float: right;
}

#myReservationsDiv {
  display: inline-block;
  width: 30%;
  margin: 1em;
  vertical-align: top;
}

#allSessionsDiv {
  display: inline-block;
  width: 40%;
  margin: 1em;
  vertical-align: top;
}

#userReservationsDiv {
  display: inline-block;
  width: 40%;
  margin: 1em;
  vertical-align: top;
}

#userSessionsDiv {
  display: inline-block;
  width 40%;
  margin: 1em;
  vertical-align: top;
}
