<!DOCTYPE html>
<html>
<head>
  <title>From Z to A</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/ztoa.css">
</head>
<body>
  <h1 id="title"><a id="titleLink" href="/">From Z to A</a></h1>
  <h4 id="subtitle">... help when you need it!</h4>
  <div id="loginButton">
    <button onclick="location.href='{{ userLogInOutLink|safe }}'">{{ userLogInOutText }}</button>
  </div>
  <hr>
  
  <div>
    <button onclick="location.href='/create_session.html'">Create a New Session</button>
  </div>
  
  <div id="mySessionsDiv">
    <h2>Sessions I Teach</h2>
    <p>*my sessions go here*</p>
    <p>(sessions should match my name)</p>
    <p>(sessions should not be expired)</p>
    <p>(sessions should be links)</p>
    {% for session in sessions %}
      {% if user and session.sessionOwner == userId and session.sessionEndTime > present %}
        <span class="homePageSession">
  	    <span class="itemMarker">Session:</span>
		<form class="buttonForm" action="/session" method="post">
		<input type="hidden" name="sessionGUID" value="{{ session.sessionGUID }}">
	    <button class="homePageSessionNameButton" onclick="form.submit();">{{ session.sessionName }}</button>
	    </form><br>
  	    <span class="itemMarker">From</span> <span class="homePageSessionDateTime">{{ session.sessionStartTime }}</span> <span class="itemMarker">to</span> <span class="homePageSessionDateTime">{{ session.sessionEndTime }}</span><br>
  	    <span class="itemMarker">Tags:</span> <span class="homePageSessionTags">
		  {% for tag in str(session.sessionTags).split(",") %}
            <form class="buttonForm" action="/tag/" method="post">
              <input type="hidden" name="tagName" value="{{ tag }}">
              <button class="tagButton" onclick="form.submit();">{{ tag.strip() }}</button>
            </form>
  	      {% endfor %}
		</span><br> 	    
  	    <br>
        </span>
      {% endif %}
    {% endfor %}
  </div>
  </br>
  
  <div id="myReservationsDiv">
    <h2>My Reservations</h2>
    <p>*my reservations go here*</p>
    <p>(reservations should match my name)</p>
    <p>(reservations should not be expired)</p>
    <p>(sessions should be links)</p>
    <p>include a delete reservation button for each</p>
    
    {% for reservation in reservations %}
      {% if user and reservation.reservationOwner == userId and (reservation.reservationStartTime + datetime.timedelta(seconds = 60 * reservation.reservationDuration)) > present %}
        <span class="homePageSession">
  	    <span class="itemMarker">Reserved:</span>
  	    <form class="buttonForm" action="/session" method="post">
		<input type="hidden" name="sessionGUID" value="{{ reservation.sessionGUID }}">
	    <button class="homePageSessionNameButton" onclick="form.submit();">{{ reservation.sessionName }}</button>
	    </form><br>
	    
	    <span class="itemMarker">Instructor: </span>
	    <form class="buttonForm" action="/user" method="post">
		<input type="hidden" name="seekUserId" value="{{ reservation.sessionOwner }}">
		<input type="hidden" name="seekUserName" value="{{ reservation.sessionInstructor }}">
	    <button class="homePageUserNameButton" onclick="form.submit();">{{ reservation.sessionInstructor }}</button>
	    </form><br>
  	    <span class="itemMarker">Start Time: </span><span class="homePageSessionDateTime">{{ reservation.reservationStartTime }}</span><br>
  	    <span class="itemMarker">Duration (minutes): </span><span class="homePageSessionDateTime">{{ reservation.reservationDuration }}</span><br>
  	    
		<form action="/" method="post">
		<input type="hidden" name="reservationGUID" value="{{ reservation.reservationGUID }}">
		<input class="cancelButton" type="submit" name="delete_form_submit" value="Cancel Reservation">
		</form>
  	    
  	    <br>
        </span>
      {% endif %}
    {% endfor %}
  </div>
  
  <div id="allSessionsDiv">
    <h2>All Sessions</h2>
    <p>*all sessions go here*</p>
    <p>(sessions should not be expired)</p>
    <p>(sessions should be links)</p>
    
    {% for session in sessions %}
      {% if session.sessionEndTime > present %}
        <span class="homePageSession">
  	    <span class="itemMarker">Session:</span>
		<form class="buttonForm" action="/session" method="post">
		<input type="hidden" name="sessionGUID" value="{{ session.sessionGUID }}">
	    <button class="homePageSessionNameButton" onclick="form.submit();">{{ session.sessionName }}</button>
	    </form><br>
	    
	    <span class="itemMarker">Instructor: </span>
	    <form class="buttonForm" action="/user" method="post">
		<input type="hidden" name="seekUserId" value="{{ session.sessionOwner }}">
		<input type="hidden" name="seekUserName" value="{{ session.sessionInstructor }}">
	    <button class="homePageUserNameButton" onclick="form.submit();">{{ session.sessionInstructor }}</button>
	    </form><br>
	    <span class="itemMarker">From</span> <span class="homePageSessionDateTime">{{ session.sessionStartTime }}</span> <span class="itemMarker">to</span> <span class="homePageSessionDateTime">{{ session.sessionEndTime }}</span><br>  	    
  	    <span class="itemMarker">Tags:</span> <span class="homePageSessionTags">
		  {% for tag in str(session.sessionTags).split(",") %}
            <form class="buttonForm" action="/tag/" method="post">
              <input type="hidden" name="tagName" value="{{ tag }}">
              <button class="tagButton" onclick="form.submit();">{{ tag.strip() }}</button>
            </form>
  	      {% endfor %}
		</span><br>
  	    
  	    <br>
        </span>
      {% endif %}
    {% endfor %}
  </div>
  
  {% for session in sessions %}
    <p>
    {{ session.sessionGUID }}<br>
    {{ session.sessionOwnerNickname}}<br>
    {{ session.sessionOwner }}<br>
  	{{ session.sessionEmail }}<br>
  	{{ session.sessionName }}<br>
  	{{ session.sessionStartTime }}<br>
  	{{ session.sessionEndTime }}<br>
  	{{ session.sessionTags }}<br>
  	{{ session.sessionRawStartTime }}<br>
  	{{ session.sessionRawEndTime }}<br>
    </p>
  {% endfor %}

</body>
</html>
