<!DOCTYPE html>
<html>
<head>
  <title>Session Page</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/ztoa.css">
</head>
<body>
  <h1 id="title"><a id="titleLink" href="/">From Z to A</a></h1>
  <h4 id="subtitle">... help when you need it!</h4>
  <div id="loginButton">
    <button onclick="location.href='{{ userLogInOutLink|safe }}'">{{ userLogInOutText }}</button>
  </div>
  <hr>
  
  <form class="buttonForm" action="/session" method="post">
	<input type="hidden" name="sessionGUID" value="{{ session.sessionGUID }}">
	<button class="homePageSessionNameButton" onclick="form.submit();"><h2>{{ session.sessionName }}</h2></button>
  </form><br>
  
  {% if session and userId == session.sessionOwner %}    
    <span class="itemMarker">Instructor: </span>
	<form class="buttonForm" action="/user" method="post">
	  <input type="hidden" name="seekUserId" value="{{ session.sessionOwner }}">
	  <input type="hidden" name="seekUserName" value="{{ session.sessionInstructor }}">
      <button class="homePageUserNameButton" onclick="form.submit();">{{ session.sessionInstructor }}</button>
	</form><br>
    <span class="itemMarker">Instructor Email:</span> {{ session.sessionEmail }}<br>
	
	<span class="itemMarker">Tags:</span>
    {% for tag in tags %}
      <form class="buttonForm" action="/tag/" method="post">
        <input type="hidden" name="tagName" value="{{ tag }}">
        <button class="tagButton" onclick="form.submit();">{{ tag.strip() }}</button>
      </form>
    {% endfor %}
	    
    <form action="/session/" method="post">
      <input type="hidden" name="sessionGUID" value="{{ session.sessionGUID }}">  
      <span class="itemMarker">Session Name:</span> <input class="createSessionInput" type="text" name="session_name" value="{{ session.sessionName }}" required><br>
      <span class="itemMarker">Start Time:</span> <input class="createSessionInput" type="datetime-local" name="session_start_time" value="{{ session.sessionRawStartTime }}" required><br>
      <span class="itemMarker">End Time:</span> <input class="createSessionInput" type="datetime-local" name="session_end_time" value="{{ session.sessionRawEndTime }}" required><br>
      <span class="itemMarker">Edit Tags:</span> <input class="createSessionInput" type="text" name="session_tags" value="{{ session.sessionTags }}" required><br>
      <br>
      <input type="submit" name="edit_session_submit" value="Make Changes To Session">
    </form>
  {% else %}
    <span class="itemMarker">Instructor: </span>
	<form class="buttonForm" action="/user" method="post">
	  <input type="hidden" name="seekUserId" value="{{ session.sessionOwner }}">
	  <input type="hidden" name="seekUserName" value="{{ session.sessionInstructor }}">
      <button class="homePageUserNameButton" onclick="form.submit();">{{ session.sessionInstructor }}</button>
	</form><br>
    <span class="itemMarker">Instructor Email:</span> {{ session.sessionEmail }}<br>
    <span class="itemMarker">Start Time:</span> <span class="sessionDateTime">{{ session.sessionStartTime }}</span><br>
    <span class="itemMarker">End Time:</span> <span class="sessionDateTime">{{ session.sessionEndTime }}</span><br>
    <span class="itemMarker">Tags:</span>
    {% for tag in tags %}
      <form class="buttonForm" action="/tag/" method="post">
        <input type="hidden" name="tagName" value="{{ tag }}">
        <button class="tagButton" onclick="form.submit();">{{ tag.strip() }}</button>
      </form>
    {% endfor %}
    </br>
    
    <form action="/session/" method="post">
      <strong>Reserve Session:</strong>
	  <br>
      <input type = "hidden" name="sessionGUID" value="{{ session.sessionGUID }}">
      <input type = "hidden" name="sessionInstructor" value="{{ session.sessionInstructor }}">
      <input type = "hidden" name="sessionOwner" value="{{ session.sessionOwner }}">
      <input type = "hidden" name="sessionName" value="{{ session.sessionName }}">
      Start Time: <input class="createSessionInput" type="datetime-local" name="reservation_start_time" required><br>
      Duration (minutes): <input class="createSessionInput" type="text" name="reservation_duration" required><br>
      <input type="submit" name="reserve_session_submit" value="Reserve">
    </form>
  {% endif %}
  <p>
  {% if notification %}
    <p class="notification">
      {{ notification }}
    </p>
  {% endif %}
  <br>
  <hr>
  <br>
  
  <h3>Active Reservations:</h3>
    {% for reservation in reservations %}
      {% if reservation.sessionGUID == session.sessionGUID and (reservation.reservationStartTime + datetime.timedelta(seconds = 60 * reservation.reservationDuration)) > present %}
        <span class="homePageSession">
  	    <span class="itemMarker">Session:</span>
  	    <form class="buttonForm" action="/session" method="post">
		  <input type="hidden" name="sessionGUID" value="{{ reservation.sessionGUID }}">
	      <button class="homePageSessionNameButton" onclick="form.submit();">{{ reservation.sessionName }}</button>
	    </form><br>
	    <span class="itemMarker">Instructor: </span>
	    <form class="buttonForm" action="/user" method="post">
		  <input type="hidden" name="seekUserId" value="{{ reservation.sessionOwner }}">
		  <input type="hidden" name="seekUserName" value="{{ reservation.sessionInstructor }}">
	      <button class="homePageUserNameButton" onclick="form.submit();">{{ reservation.sessionInstructor }}</button>
	    </form><br>
	    <span class="itemMarker">Reserved by: </span>
	    <form class="buttonForm" action="/user" method="post">
		  <input type="hidden" name="seekUserId" value="{{ reservation.reservationOwner }}">
		  <input type="hidden" name="seekUserName" value="{{ reservation.reservationOwnername }}">
	      <button class="homePageUserNameButton" onclick="form.submit();">{{ reservation.reservationOwnerName }}</button>
	    </form><br>
  	    <span class="itemMarker">Start Time: </span><span class="homePageSessionDateTime">{{ reservation.reservationStartTime }}</span><br>
  	    <span class="itemMarker">Duration (minutes): </span><span class="homePageSessionDateTime">{{ reservation.reservationDuration }}</span><br>
  	    <br>
        </span>
      {% endif %}
    {% endfor %}
  
  <br>
  <hr>
  <br>
  
  <form action="/xml/" method="post">
	<input type="hidden" name="sessionGUID" value="{{ session.sessionGUID }}">
	<!-- <input class="cancelButton" type="submit" name="RSS_Submit_Button" value="Get RSS for this session"> -->
	<button class="cancelButton" type="button">Get RSS for this session</button>
  </form>
  
  {% if reservationGUID %}
    <p>
      reservationGUID = {{ reservationGUID }}<br>
      reservationOwnerName = {{ reservationOwnerName }}<br>
      reservationOwner = {{ reservationOwner }}<br>
      reservationEmail = {{ reservationEmail }}<br>
      reservationStartTime = {{ reservationStartTime }}<br>
      reservationDuration = {{ reservationDuration }}<br>
      sessionGUID = {{ sessionGUID }}<br>
      sessionInstructor = {{ sessionInstructor }}<br>
      sessionOwner = {{ sessionOwner }}<br>
      sessionName = {{ sessionName }}<br>
    <p>
  {% endif %}
</body>
</html>
