<!DOCTYPE html>
<html>
<head>
  <title>Tag Page</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/ztoa.css">
</head>
<body>
  <h1 id="title"><a id="titleLink" href="/">From Z to A</a></h1>
  <h4 id="subtitle">... help when you need it!</h4>
  <div id="loginButton">
    <button onclick="location.href='{{ userLogInOutLink|safe }}'">{{ userLogInOutText }}</button>
  </div>
  <hr>
  
  <div id="userSessionsDiv">
    
    <span class="headerFont">TAG: </span> 
	<form class="buttonForm" action="/tag/" method="post">
      <input type="hidden" name="tagName" value="{{ tagName }}">
      <button class="tagButton" onclick="form.submit();"><h2>{{ tagName }}<h2></button>
    </form>
    <br>
    
    {% for session in sessions %}
      {% if session.sessionEndTime > present%}
        <span class="homePageSession">
  	    <span class="itemMarker">Session:</span>
		<form class="buttonForm" action="/session" method="post">
		<input type="hidden" name="sessionGUID" value="{{ session.sessionGUID }}">
	    <button class="homePageSessionNameButton" onclick="form.submit();">{{ session.sessionName }}</button>
	    </form><br>
  	    <span class="itemMarker">From</span> <span class="homePageSessionDateTime">{{ session.sessionStartTime }}</span> <span class="itemMarker">to</span> <span class="homePageSessionDateTime">{{ session.sessionEndTime }}</span><br>
  	    <span class="itemMarker">Tags:</span> <span class="homePageSessionTags">
		  {% for tag in str(session.sessionTags).split(",") %}
            <form class="buttonForm" action="/tag/" method="post">
              <input type="hidden" name="tagName" value="{{ tag }}">
              <button class="tagButton" onclick="form.submit();">{{ tag.strip() }}</button>
            </form>
  	      {% endfor %}
		</span><br>
  	    {% for tag in tags %}
          <form class="buttonForm" action="/tag/" method="post">
            <input type="hidden" name="tagName" value="{{ tag }}">
            <button class="tagButton" onclick="form.submit();">{{ tag }}</button>
          </form>
        {% endfor %}
        
  	    <br>
        </span>
      {% endif %}
    {% endfor %}
  </div>

</body>
</html>
